[Unit]
Description=Kanata remap: CapsLock + K → Right Arrow
After=multi-user.target

[Service]
ExecStart=/home/eame/Desktop/cpp_work/kanata_use/kanata --cfg /home/eame/Desktop/cpp_work/kanata_use/kanata.kbd
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal

# 如果需要延迟启动键盘 remap，可以加这一行：
# ExecStartPre=/bin/sleep 3

[Install]
WantedBy=default.target
